.tooloptions {
  width: fit-content;
  height: 36px;
  display: flex;
  background-color: #fafafa;
  position: fixed;
  border-radius: 3px;
  top: 10px;
  margin: auto;
  left: 0;
  right: 0;
  padding: 5px 5px;
  align-items: center;
}
.tooloptions > div {
  margin: 0 5px;
}
.file-input {
  display: none;
}
.file-upload {
  display: flex;
  align-items: center;
  .filename {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 120px;
  }
}
.button {
  background-color: #fafafa;
  cursor: pointer;
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  transition: 0.3s;
}
.button:hover {
  transition: 0.3s;
  background-color: #e6e6e6;
}
.button.toggleon {
  background-color: #ff4081;
  img {
    filter: invert(1);
  }
}
