.tooloptions {
  width: fit-content;
  height: 35px;
  display: flex;
  background-color: #fafafa;
  position: fixed;
  border-radius: 3px;
  top: 10px;
  margin: auto;
  left: 0;
  right: 0;
  padding: 5px 5px;
  align-items: center;
}
.tooloptions > div {
  margin: 0 5px;
}
