<div class="toolbar z3">
  <div class="button" matTooltip="Draw" matTooltipPosition="right">
    <mat-icon aria-hidden="false" aria-label="Example home icon"
      >mode_edit</mat-icon
    >
  </div>
  <div class="button" matTooltip="Roll Dices" matTooltipPosition="right">
    <mat-icon aria-hidden="false" aria-label="Example home icon"
      >casino</mat-icon
    >
  </div>
  <div class="button" matTooltip="Ruler" matTooltipPosition="right">
    <mat-icon aria-hidden="false" aria-label="Example home icon"
      >straighten</mat-icon
    >
  </div>
  <div class="button" matTooltip="Area of effect" matTooltipPosition="right">
    <mat-icon aria-hidden="false" aria-label="Example home icon"
      >track_changes</mat-icon
    >
  </div>
  <div class="button" matTooltip="Grid Movement" matTooltipPosition="right">
    <mat-icon aria-hidden="false" aria-label="Example home icon"
      >trending_flat</mat-icon
    >
  </div>
  <div class="separator">
    <div></div>
  </div>
  <div
    class="button"
    (click)="onClickTool('token')"
    matTooltip="Insert Token"
    matTooltipPosition="right"
  >
    <mat-icon aria-hidden="false" aria-label="Example home icon"
      >person_outline</mat-icon
    >
  </div>
  <div
    class="button"
    (click)="onClickTool('background')"
    matTooltip="Insert Background"
    matTooltipPosition="right"
  >
    <mat-icon aria-hidden="false" aria-label="Example home icon"
      >wallpaper</mat-icon
    >
  </div>
</div>
